body{
    text-align:center;
}
h1{
    font-size: 40px;
    font-family: 'Courier New';
    font-weight: 300px;
}
#app{
    background-color: blue;
}
#game{
    background-color: blue;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}